.indicator {
    height: 2rem;
    width: 2rem;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}